:root {
    --dark-bg-colour: #141e30;
    --light-bg-colour: #17253b;
    --primary-colour: gold;
    --dark-bg-colour-rgb: 20, 30, 48;
    --light-bg-colour-rgb: 23, 41, 59;
    --primary-colour-rgb: 255, 215, 0;
    --type-speed: 1s;
    --blink-speed: 750ms;
    --h1-delay: 3s;
    --h2-delay: calc(var(--h1-delay) + var(--type-speed) + 1.5s);
    --h4-delay: calc(var(--h2-delay) + var(--type-speed) + 1.5s);
    --secondary-header-text-colour: rgba(255, 255, 255, 0.6);
    --fs-xl: clamp(2rem, 2.5vw + 1px, 3rem);
    --fs-md: clamp(1.5rem, 2vw + 1px, 2rem);
    --fs-sm: clamp(1rem, 1.5vw + 1px, 1.5rem);
    --fs-xs: clamp(1rem, 1vw + 1px, 1.25rem)
}

* {
    color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--dark-bg-colour);
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

section {
    visibility: hidden;
}

ul {
    list-style: none;
}

hl {
    color: var(--primary-colour);
}

sidebar {
    position: fixed;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    width: 2vw;
    height: 100%;
    margin-left: 1rem;
    animation:  appearing-animation 0s var(--h4-delay) forwards,
                fade-in-bottom-animation 1s var(--h4-delay) forwards;
}

sidebar svg {
    width: 1.8rem;
    height: 1.8rem;
    fill: white;
    opacity: 0.6;
    margin-bottom: 1.5rem;
}

footer {
    text-align: center;
    font-size: var(--fs-xs);
    color: var(--secondary-header-text-colour);
    opacity: 0.2;
    margin-top: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

.hover-effect,
.hover-effect * {
    transition: 250ms ease-out;
}

.hover-effect:hover,
.hover-effect:hover * {
    transition: 250ms ease-in;
    color: var(--primary-colour);
    fill: var(--primary-colour);
    opacity: 1;
}

.social-media-button {
    display: block;
    border: none;
    background-repeat: no-repeat;
    background-size: auto;
    width: 2rem;
    height: 2rem;
    opacity: 0.6;
}

/* Navigation Bar */
.header {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.header a,
.header a span {
    font-family: "HelveticaNeue-Light", monospace;
    font-size: var(--fs-xs);
    color: var(--secondary-header-text-colour);
}

.logo,
.navigation {
    background: hsl(112, 1%, 100%, 0.1);
    backdrop-filter: blur(1rem);
}

.logo {
    margin: 1rem;
    cursor: pointer;
    padding: 0.5rem;
}

.navigation {
    margin-inline-end: 2rem;
    padding: 0 0.5rem;
}

.navigation-toggle {
    display: none;
}

.navigation li,
.navigation li * {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    padding: 0.5rem 0;
}

.navigation li a span {
    margin-inline-end: 0.5rem;
}

.nav-active {
    border-bottom: var(--primary-colour) 1px solid;
}

.nav-active * {
    color: var(--primary-colour) !important;
}

.other-segments h1 {
    font-size: var(--fs-xl);
}

.other-segments h2 {
    font-size: var(--fs-md);
    align-items: center;
}

.other-segments h2::after {
    content: "";
    flex: 1;
    height: 0.5px;
    background-color: white;
    opacity: 0.2;
}

.other-segments p {
    font-size: var(--fs-sm);
    color: var(--secondary-header-text-colour);
    font-weight: 100;
}

/* Preamble */

.container {
    width: 70%;
    height: 100vh;
    margin: 0 15%;
}

.md-container {
    width: 60%;
    height: 100vh;
    margin: 0 20%;
}

.sm-container {
    width: 40%;
    height: 75vh;
    margin: 0 30%;
}

.pad-top {
    padding-top: 10vh;
}

.preamble-segment {
    justify-content: space-between;
    align-items: center;
}

.my-portrait {
    width: 15vw;
    height: 15vw;
    opacity: 0.2;
}

.typewriter h1 {
    font-size: var(--fs-xl);
    color: var(--secondary-header-text-colour);
    position: relative;
    width: fit-content;
    font-family: "HelveticaNeue-Light", monospace;
}

.typewriter h1 > span {
    font-weight: 700;
    font-family: 'HelveticaNeue-Light', monospace;
    color: var(--primary-colour);
}

.typewriter h2 {
    font-size: var(--fs-md);
    color: var(--secondary-header-text-colour);
    visibility: hidden;
    position: relative;
    width: fit-content;
    animation: appearing-animation 0s var(--h2-delay) forwards;
    font-family: "HelveticaNeue-Light", monospace;
}

.typewriter h4 {
    font-weight: 100;
    color: var(--secondary-header-text-colour);
    text-align: justify;
    text-justify: inter-word;
    margin-top: 4vh;
    font-size: var(--fs-sm);
    visibility: hidden;
    position: relative;
    width: 44vw;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation:  appearing-animation 0s var(--h4-delay) forwards,
                fade-in-bottom-animation 1s var(--h4-delay) forwards;
}


.typewriter h1::before,
.typewriter h1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.typewriter h2::before,
.typewriter h2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.typewriter h1::before {
    background-color: var(--dark-bg-colour);
    animation: typing-animation var(--type-speed) steps(33) var(--h1-delay) forwards;
}

.typewriter h1::after {
    width: 0.125em;
    background-color: white;
    animation:  typing-animation var(--type-speed) steps(33) var(--h1-delay) forwards,
                blinking-animation var(--blink-speed) steps(5, start) infinite,
                disappearing-animation steps(1) var(--h2-delay) forwards;
}

.typewriter h2::before {
    background-color: var(--dark-bg-colour);
    animation: typing-animation var(--type-speed) steps(26) var(--h2-delay) forwards;
}

.typewriter h2::after {
    width: 0.125em;
    background-color: white;
    animation:  typing-animation var(--type-speed) steps(26) var(--h2-delay) forwards,
                blinking-animation var(--blink-speed) steps(5, start) infinite;
}

.about-me-segment {
    align-items: center;
    justify-content: space-between;
}

.segment-animate {
    animation:  appearing-animation 0s 500ms forwards,
                fade-in-right-animation 750ms 500ms forwards;
}

.txt-50-justify {
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}

.txt-75-justify {
    width: 75%;
    text-align: justify;
    text-justify: inter-word;
}

.about-me-img {
    align-items: center;
    justify-content: center;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(8.75rem, 12.5rem));
    padding: 0;
    margin-left: 1rem;
}

.skill-list li {
    color: var(--secondary-header-text-colour);
    font-size: var(--fs-xs);
    margin-block-end: 1rem;
}

.skill-list li::before,
.content div ul li::before {
    content: "\2022";
    color: var(--primary-colour);
    display: inline-block;
    width: fit-content;
    margin-left: -1em;
    margin-right: 0.3em;
}

.instagram {
    background: url(./src/instagram.svg);
}

.twitter {
    background: url(./src/twitter.svg);
}

.github {
    background: url(./src/github.svg);
}

.experience-table {
    display: flex;
    justify-content: center;
}

.tabs {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.tabs button {
    background-color: var(--dark-bg-colour);
    border: 0;
    padding: 1rem;
    width: 90%;
    font-size: var(--fs-xs);
    color: var(--secondary-header-text-colour);
    border-left: rgba(255, 255, 255, 0.1) 2px solid;
    text-align: left;
    cursor: pointer;
 }

 .tabs button:hover {
     background: var(--light-bg-colour);
 }

.tabs button[aria-selected="true"] {
    border-left: var(--primary-colour) 2px solid;
    color: var(--primary-colour);
    background: var(--light-bg-colour);
}

.content {
    width: 100%;
    padding-top: 1rem;
}

.content div h3 {
    font-size: var(--fs-sm);
    margin: 0;
}

.content div[aria-current="true"] {
    display: block;
    animation: stationary-fade-in-animation 250ms forwards;
}

.content div h3 span {
    color: var(--primary-colour);
}

.content div p {
    font-family: "HelveticaNeue-Light", monospace;
    font-size: var(--fs-xs);
}

.content div ul {
    padding: 0;
    margin-top: 2rem;
}

.content div ul li {
    font-size: var(--fs-xs);
    margin: 1rem;
    text-align: left;
    color: var(--secondary-header-text-colour);
}

.content div[aria-current="false"] {
    display: none;
}

.contact-me-segment a {
    display: inline-block;
    padding: 1rem;
    background: transparent;
    border-radius: 0.5rem;
    border: rgba(var(--primary-colour-rgb), 0.2) 1px solid;
    color: rgba(var(--primary-colour-rgb), 0.2);
    font-size: var(--fs-sm);
    cursor: pointer;
    text-decoration: none;
    transition: 250ms ease-out;
}

.contact-me-segment a:hover {
    border: rgba(var(--primary-colour-rgb), 1) 1px solid;
    color: rgba(var(--primary-colour-rgb), 1);
    background: rgba(var(--primary-colour-rgb), 0.1);
    transition: 250ms ease-in;
}

@keyframes typing-animation {
    to {
        left: 100%;
    }
}

@keyframes appearing-animation {
    to {
        visibility: visible;
    }
}

@keyframes disappearing-animation {
    to {
        opacity: 0;
    }
}

@keyframes blinking-animation {
    to {
        visibility: hidden;
    }
}

@keyframes fade-in-bottom-animation {
    from {
        opacity: 0;
        transform: translateY(11%);
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes fade-in-right-animation {
    from {
        opacity: 0;
        transform: translateX(11%);
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes stationary-fade-in-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes stationary-fade-out-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@media (max-width: 60rem) {
    .abc {
        display: none;
    }
}

@media (max-width: 53.2rem) {
    sidebar {
        text-align: center;
        width: 100%;
        height: fit-content;
        display: inline-block;
        position: absolute;
        top: 90%;
        margin: 0;
    }

    sidebar a {
        display: inline-block;
        width: fit-content;
        margin: 0.75rem;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .md-container {
        width: 90%;
        margin: 0 5%;
    }

    .sm-container {
        width: 75%;
        margin: 0 12.5%;
    }

    .navigation {
        margin: 0;
        --gap: 1.5rem;
        position: fixed;
        inset: 0 0 0 50%;
        padding: min(20vh, 4rem) 2rem;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }

    .navigation[mobile-expanded="true"] {
        transform: translateX(0%);
    }

    .navigation-toggle {
        display: block;
        border: none;
        color: white;
        position: absolute;
        z-index: 9999;
        background: url(src/hamburger.svg);
        background-repeat: no-repeat;
        background-size: auto;
        width: 2rem;
        right: 2rem;
        aspect-ratio: 1;
    }

    .navigation-toggle[aria-expanded="true"] {
        background: url(./src/cross.svg);
    }

    .preamble-segment {
        flex-direction: column;
        justify-content: center;
    }

    .typewriter h1,
    .typewriter h2,
    .typewriter h4 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .typewriter h4 {
        width: 80%;
    }

    .txt-50-justify,
    .txt-75-justify {
        width: 100%;
    }

    .about-me-img {
        display: none;
    }

    .typewriter h1 > span::before {
        content: "\A";
        white-space: pre;
    }

    .contact-me-segment a {
        border: var(--primary-colour) 1px solid;
        color: var(--primary-colour);
    }
}

@media (max-width: 34.5rem) {
    .experience-table {
        flex-direction: column;
    }

    .tabs {
        width: 100%;
        flex-direction: row;
    }
    
    .tabs button {
        font-size: var(--fs-xs);
        border-left: none;
        border-bottom: rgba(255, 255, 255, 0.1) 2px solid;
        text-align: center;
        width: 100%;
    }

    .tabs button[aria-selected="true"] {
        border-left: none;
        border-bottom: var(--primary-colour) 2px solid;
    }
}