* {
    color: white !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #243b55 0%, #141e30 100%);
    background-attachment: fixed;
}

.content-segment {
    padding-top: 10vh;
}

.content-segment-template {
    height: 100vh;
}