:root {
    /* --bg-colour: linear-gradient(to bottom, #243b55 0%, #141e30 100%); */
    --bg-colour: #141e30;
    --type-speed: 1s;
    --type-steps: 30;
    --h2-appear-after: 2s;
    --h4-appear-after: 3.5s;
}

* {
    color: white !important;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-colour);
    background-attachment: fixed;
}

nav {
    height: 10vh;
}

.content-segment {
    margin-top: 10vh;
}

.content-segment-template {
    height: 95vh;
}

.my-portrait {
    position: absolute;
    width: 20vw;
    height: auto;
    left: 10%;
    opacity: 0.2;
}

.typewriter h1 {
    font-size: 2.5vw;
    position: relative;
    width: fit-content;
    font-family: "HelveticaNeue-Light", monospace;
}

.typewriter h2 {
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.75) !important;
    visibility: hidden;
    position: relative;
    width: fit-content;
    animation: appearing-animation 0s var(--h2-appear-after) forwards;

    font-family: "HelveticaNeue-Light", monospace;
}

.typewriter h4 {
    color: rgba(255, 255, 255, 0.75) !important;
    margin-top: 4vh;
    font-size: 1.5vw;
    visibility: hidden;
    position: relative;
    width: 50vw;
    animation: appearing-animation 0s var(--h2-appear-after) forwards;
}


.typewriter h1::before,
.typewriter h1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.typewriter h2::before,
.typewriter h2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.typewriter h1::before {
    background-color: var(--bg-colour);
    animation: typing-animation var(--type-speed) steps(var(--type-steps)) forwards;
}

.typewriter h1::after {
    width: 0.125em;
    background-color: white;
    animation: typing-animation var(--type-speed) steps(var(--type-steps)) forwards, 
                disappearing-animation var(--h2-appear-after) steps(5) infinite;
}

.typewriter h2::before {
    background-color: var(--bg-colour);
    animation: typing-animation var(--type-speed) steps(var(--type-steps)) forwards;
    animation-delay: var(--h2-appear-after);
}

.typewriter h2::after {
    width: 0.125em;
    background-color: white;
    animation: typing-animation var(--type-speed) steps(var(--type-steps)) forwards, 
                blinking-animation var(--h2-appear-after) steps(5, start) infinite;
    animation-delay: var(--h2-appear-after);
}

.typewriter h4 {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation: fade-in-bottom-animation 1s forwards;
    animation-delay: 4s;
}

@keyframes typing-animation {
    to {
        left: 100%;
    }
}

@keyframes appearing-animation {
    to {
        visibility: visible;
    }
}

@keyframes disappearing-animation {
    0% {
        content: "";
        opacity: 1;
    }
    20% {
        content: "";
        opacity: 1;
    }
    40% {
        content: "";
        opacity: 1;
    }
    60% {
        content: "";
        opacity: 1;
    }
    80% {
        content: "";
        opacity: 1;
    }
    100% {
        content: none;
        opacity: 0;
    }
}

@keyframes blinking-animation {
    to {
        visibility: hidden;
    }
}

@keyframes fade-in-bottom-animation {
    from {
        opacity: 0;
        transform: translateY(11%);
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}